header {
 background: black;
 color: white;
 width: 240px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: 0;
 padding: 10px 0px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
}

header .wrapper {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

header #logo {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5880dd4dd482e9da5c3bf1ea/ebd9bc08-6b40-4b23-b616-f6c29e8b83cb/CITS_Logo_2019_RGB.png?format=1500w");
    width: 134px;
    height: 92px;
}

header h1,
header a {
 color: white;
 text-decoration: none;
}

header h1:hover {
    color: black;
    background: white;
}
